{% extends 'shared/base.html' %}

{% block content %}
    <h1>Register</h1>

    <form action="{% url 'catalogapp:register' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="username">Username: </label>
            <input id="username" type="text" name="username" >
        </fieldset>

        <fieldset>
            <label for="password">Password: </label>
            <input id="password" type="password" name="password" >
        </fieldset>

        <fieldset>
            <label for="first_name">First name: </label>
            <input id="first_name" type="text" name="first_name" \>
        </fieldset>

        <fieldset>
            <label for="last_name">Last name: </label>
            <input id="last_name" type="text" name="last_name" >
        </fieldset>

        <fieldset>
            <label for="email">Email: </label>
            <input id="email" type="text" name="email">
        </fieldset> 
        <fieldset>
            <label for="pet_name">Pet Name: </label>
            <input id="pet_name" type="text" name="pet_name">
        </fieldset>

        <fieldset>
            <label for="pet_birthday">Pet's Birthday: </label>
            <input id="pet_birthday" type="date" name="pet_birthday">
        </fieldset>

        <fieldset>
            <label for="pet_favorite_toy">Pet's Favorite Toy: </label>
            <input id="pet_favorite_toy" type="text" name="pet_favorite_toy">
        </fieldset> 

        <input type="submit" value="Register" />

    </form>

{% endblock %}
