{% extends 'shared/base.html' %}
{% block content %}
<h1>Add Another Photo</h1>

<form action="{% url 'catalogapp:photo_form' %}" method="post">
{% csrf_token %}
<fieldset>
    <label for="Photo Caption">Caption: </label>
    <input id="photo_caption" type="text" name="photo_caption">
</fieldset>
<fieldset>
    <label for="photo_description">Description: </label>
    <input id="photo_description" type="text" name="photo_description">
</fieldset>
<fieldset>
    <label for="imagePath">Image</label>
    <input type='button' id="upload_widget" class="cloudinary-button" value='Upload image'></button>
    <input id='imagePath' type='hidden' value='' name='imagePath'>
</fieldset>
<fieldset>
    <label for="created_at">Date Created: </label>
    <input id="created_at" type="date" name="created_at">
</fieldset>


<input type="submit" value="Add It" />
</form>
{% endblock %}