{% extends 'shared/base.html' %}
{% block content %}
<h1>Add Another Photo</h1>

<form action="{% url 'catalogapp:photo_form' %}" method="post">
{% csrf_token %}
<fieldset>
    <label for="Photo Caption">Caption: </label>
    <input id="photo_caption" type="text" name="photo_caption">
</fieldset>
<fieldset>
    <label for="photo_description">Description: </label>
    <input id="photo_description" type="text" name="photo_description">
</fieldset>
{% comment %} on 19 input id imagePath is hidden with a blank value, we make a call to a server and it responds. we put that 'secure url property' in the response that comes back.
- 'secure url property' in the value when we upload the photo. {% endcomment %}
<fieldset>
    <label for="imagePath">Image</label>
    <input type='button' id="upload_widget" class="cloudinary-button" value='Upload image'></button>
    <input id='imagePath' type='hidden' value='' name='imagePath'>
</fieldset>
<fieldset>
    <label for="photo_created_at">Date Created: </label>
    <input id="photo_created_at" type="date" name="photo_created_at">
</fieldset>


<input type="submit" value="Add Photo!" />
</form>
{% endblock %}