{% extends 'shared/base.html' %}

{% block content %}
    <h1>Pet Photos</h1>


    <ol>
    {% for pet in all_pets %}
        <li>
            {{ pet.name }}
            ({{ pet.birthday }})
             ({{ pet.favorite_toy }})
            <ul>
            {% comment %}
              book_set.all is how we "reverse lookup" the books that belong to a library. Behaves much like _embed from json-server
            {% endcomment %}
            {% for photo in pet_photos.photo_set.all %}
                <li>{{ photo.description }}</li>
                <li>{{ photo.caption }}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ol>
{% endblock %}