body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-family: 'Lobster';
    background-image: linear-gradient(62deg, #add1f5 0%, #eee2fa 100%);

  }
  
  .main-content {
    padding: 1em 2em;
  }
  
  .navList {
    list-style-type: none;
    display: flex;
    border: 1px solid lightgray;
    padding: 1em;
    margin: 0;
  }
  
  .navList__route {
    margin: 0 0.5em;
  }

  a {
  color: #163f68; 
  }

  h1 {
    color:#163f68;
  }