.pets {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .pet {
    flex-basis: 20%;
    padding: 0 2em 0.5em 2em;
    border: 1px solid gray;
    margin: 1em;
    padding: 1.5em;
    border-color: #163f68;
    border-radius: 25px;
  }
  
  .pet__name {
    font-size: 1.1em;
  }
  
  .pet__info {
    font-size: 0.75em;
  }
